:root {
    font-family: "Noto Sans";
    /* hsl (fallback color) */
    --bg-dark: hsl(234 100% 5%);
    --bg: hsl(223 100% 7%);
    --bg-light: hsl(215 99% 10%);
    --text: hsl(214 100% 99%);
    --text-muted: hsl(214 78% 73%);
    --highlight: hsl(213 62% 41%);
    --border: hsl(210 97% 28%);
    --border-muted: hsl(212 100% 18%);
    --primary: hsl(214 100% 74%);
    --secondary: hsl(36 72% 58%);
    --danger: hsl(8 68% 66%);
    --warning: hsl(52 59% 44%);
    --success: hsl(152 45% 49%);
    --info: hsl(217 80% 68%);
    /* oklch */
    --bg-dark: oklch(0.1 0.065 255);
    --bg: oklch(0.15 0.065 255);
    --bg-light: oklch(0.2 0.065 255);
    --text: oklch(0.96 0.1 255);
    --text-muted: oklch(0.76 0.1 255);
    --highlight: oklch(0.5 0.13 255);
    --border: oklch(0.4 0.13 255);
    --border-muted: oklch(0.3 0.13 255);
    --primary: oklch(0.76 0.13 255);
    --secondary: oklch(0.76 0.13 75);
    --danger: oklch(0.7 0.13 30);
    --warning: oklch(0.7 0.13 100);
    --success: oklch(0.7 0.13 160);
    --info: oklch(0.7 0.13 260);
}


body {
    color: var(--text-muted);
    background-color: var(--bg);
}

h1 {
    color: var(--text);
}

.user-input
{
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}
.input-row
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


button {
    background-color: var(--highlight);
    color: var(--text);
    border-radius: 5px;
    border-color: transparent;
}

table {
    border: 1px solid var(--border);
}

input[type=number]
{
    display: grid;
    appearance: inherit;
    border-radius: float;
    border-color: var(--border);
    -moz-appearance: textfield;
}
